<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="
 http://www.springframework.org/schema/beans 
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context 
 https://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/tx 
 https://www.springframework.org/schema/tx/spring-tx.xsd
 http://www.springframework.org/schema/mvc
https://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- Enabling Transaciton Annotation -->
	<tx:annotation-driven/>

	<!-- <mvc:resources mapping="/resources/**" location="/resources/" /> -->
	<context:component-scan base-package="springmvc" />

	<!-- Process For Connecting Spring ORM + Hibernate -->
	<!-- Data Source Driver Manager Data Sources -->
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		name="ds">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/atm_management_system" />
		<property name="username" value="root" />
		<property name="password" value="harsh@aA1234" />

	</bean>

	<!-- LocalSessionFactory instead of Session Factory -->
	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="factory">
		<property name="dataSource" ref="ds" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQL8Dialect
				</prop>

				<prop key="hibernate.show_sql">true</prop>

				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>springmvc.model.Register</value>
			</list>
		</property>
	</bean>

	<!-- Hibernate Template Object -->
	<bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="hibernateTemplate">
		<property name="sessionFactory" ref="factory" />
	</bean>

	<!-- Registration Dao -->
	<!-- We can not create this object because it is autowired -->

	<!-- Avoid Read Only Mode and Write also enable for TransactionManagement 
		using Session Factory -->
	<bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
		<property name="sessionFactory" ref="factory"/>
	</bean>

	<bean name="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>